.main {
  min-width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  padding: 3%;
  min-height: 100vh;
  border: 5px solid #b3cfee70;
  border-radius: 10px;
}

.voucher-dealcoupon {
  ::before {
    margin-left: 200px;
  }

  ::after {
    margin-right: 200px;
  }
}

.title-tabs {
  display: flex;
  justify-content: space-between;
  //background-color: #7fb7f770;
  padding: 10px;
  margin: -10px;
  border-bottom: 2px solid;
  &--type {
    display: flex;
    justify-content: space-around;
    min-width: 200px;

    &-item {
      cursor: pointer;

      &--active {
        color: blue;
        font-weight: bold;
        border-bottom: 2px solid blue;
      }
    }
  }
}

.tab-content {
  .dealpromo-body {
    margin-top: 30px;
    //margin-left: 50px;
    //margin-right: 50px;
    min-height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .dealpromo-item {
      width: 48%;
      min-width: 250px;
      border-radius: 10px;
      border: solid blue;
      margin: 5px 0;
      .dealpromo-item-card{   
        margin: 20px 10px; 
        min-height: 120px;
        background-color: red;
        
      }
    }
  }
}

@media screen and (max-width: 600px)  {      
  
  
  .title-tabs{
    flex-direction: column;
    &--type{
      margin-top: 20px;
    }
  }

  .tab-content {
    .dealpromo-body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around ;
      justify-content: center;
  
      .dealpromo-item {
        width: 90%;
        margin: 20px 0;
        .dealpromo-item-card{    
          
        }
      }
    }
  }
}
